# Dependencies
node_modules/

# Build
dist/
build/
.next/
.vite/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Docker
docker/postgres_data/